<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="club">
            <h2><span jhiTranslate="playerApp.club.detail.title">Club</span> {{club.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playerApp.club.name">Name</span></dt>
                <dd>
                    <span>{{club.name}}</span>
                </dd>
                <dt><span jhiTranslate="playerApp.club.city">City</span></dt>
                <dd>
                    <span>{{club.city}}</span>
                </dd>
                <dt><span jhiTranslate="playerApp.club.telephone">Telephone</span></dt>
                <dd>
                    <span>{{club.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="playerApp.club.numSocios">Num Socios</span></dt>
                <dd>
                    <span>{{club.numSocios}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/club', club.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
